<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.qhjy.score_service.mapper.primary.XxjbxxMapper">

    <!-- 根据学校名称查询学校代码 -->
    <select id="selectXxdmByName" resultType="java.lang.String">
        SELECT XXDM
        FROM xxjbxx
        WHERE XXMC = #{xxmc,jdbcType=VARCHAR}
        LIMIT 1
    </select>

    <!-- 根据学校代码查询学校名称 -->
    <select id="selectXxmcByCode" resultType="java.lang.String">
        SELECT XXMC
        FROM xxjbxx
        WHERE XXDM = #{xxdm,jdbcType=VARCHAR}
        LIMIT 1
    </select>

</mapper>